[core]
	editor = code -w
	excludesfile = ~/.gitignore
[rerere]
	enabled = true
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autosquash = true
	autostash = true
[user]
	name = Marek Skrajnowski
	email = mskrajnowski@users.noreply.github.com
[tig]
	horizontal-scroll = 10%
	vertical-split = false
	tab-size = 4
	wrap-lines = true
	ignore-space = some
	ignore-case = true
	refresh-mode = auto
	main-view = id:true date:default author:full commit-title:yes,graph,refs,overflow=no
[merge]
	conflictStyle = diff3
[alias]
	logt = -c diff.external=difft log --ext-diff
	showt = -c diff.external=difft show --ext-diff
	difft = -c diff.external=difft diff
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[include]
	path = ~/.gitconfig.local
[include]
	path = ~/.config/git/config.local
